/* ADMIN LOG */

.admin-log {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.admin-log h1, .admin-log h2 {
    text-align: center;
}

.admin-log h1 {
    font-size: 2.5em;
}

.admin-log h2 {
    font-size: 1.75em;
}

.admin-log .footer-holder {
    position: fixed;
    bottom: 0;
}

.holder-input {
    margin-block: 2em;
    width: 100%;
}

/* ADMIN ACCESS */

.admin-access {
    justify-content: center;
    align-items: center;
    width: 400px;
}