/* BASES */

.button {
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    margin-top: 1em;
    padding: 8px 16px;
    transition: background-color 0.25s ease-in-out;
}

.button p {
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    letter-spacing: -1px;
    transition: color 1s ease-in-out;
}

/* VARIANT */

.primary-btn {
    background-color: black;
}

.primary-btn:hover {
    background-color: #2b2b2b;
}

.disabled-btn {
    background-color: darkgrey;
    cursor: default;
}

.disabled-btn:hover {
    background-color: darkgrey;
    cursor: default;
}

@media screen and (max-width: 900px){
    .button {
        font-size: 18px;
        height: 40px;
        width: 180px;
    }
}