/* HOME PARTNER */

.home-partner {
    background: var(--white);
    height: 500px;
    width: 100%;
    padding: 6em 0;
}

/* PARTNER HOLDER */

.partner-holder {
    width: 90%;
    overflow: hidden;
    height: 200px;
}

/* PARTNER CARD */

.partner-card {
    height: 200px;
    width: auto;
    margin: 0 2em;
}