/* BANDE DEMO RESUME */

#bande-demo-resume-holder {
    height: 100%;
    width: 100%;
  }

#bande-demo-resume {
    padding: 4em 10em 2em 10em;
}

.select-type {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.select-type div {
    background: transparent;
    cursor: pointer;
    border: 1px solid rgba(128, 128, 128, 0.104);
    padding: 6px 16px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    margin-top: 0.5em;
}

.select-type div:hover {
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.select-type > div:not(:first-of-type) {
    margin-left: 1em;
}

.select-type div.active-tab {
    background: #710477;
    color: white;
}

@media screen and (max-width: 900px){
    #bande-demo-resume {
        padding: 2em 2em 0 2em;
    }
}

/* BANDE DEMO RESUME HOLDER */

@media screen and (max-width: 900px){
    #bande-demo-resume-holder {
        align-items: center;
    }
}

/* BANDE DEMO RESUME CONTENT */

#bande-demo-resume-content {
    padding-top: 1em;
}

@media screen and (max-width: 900px){
    #bande-demo-resume-content p {
        text-align: justify;
    }
}
